
#content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

body {
    background-color: white;
    font-family: Arial, Verdana, Tahoma;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(255, 210, 0, 0.8);
    display: grid;
    grid-template-columns: 150px auto;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #0033a0;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #CE1126;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

h4 {
    color: black;
}

.home-title {
    color: white;
    font-family: "Trebuchet MS", Georgia;
    font-size: 2em;
    margin-top: 10px;
}

#hero-msg h4 {
    color: white;
}

#hero-img {
    width: 100%;
}

main section {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .table {
    width: 100%;
}

.card-img {
    border: 10px solid lightgray;
    transition: transform .5s;
    box-shadow: 5px 5px 10px gray;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.classic-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.stuffed-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.origins-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    background-color: lightgrey;
    height: 600px;
    grid-column: 1/11;
    grid-row: 4/9;
    align-self: center;
}

.table {
    margin-top: 100px;
    margin-bottom: 100px;
    grid-column: 2/7;
    grid-row: 5/8;
    align-self: center;
    box-shadow: 5px 5px 10px gray;
}

.msg {
    background-color: #0033a0;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px gray;
}

.book, .join {
    color: black;
    text-decoration: none;
    background-color: lightgray;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #CE1126;
    color: white;
}

footer {
    background-color: #CE1126;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

h2 {
    margin: 0;
}

.msg h2 {
    color: #ffd200;
    font-family: "Trebuchet MS", Georgia;
}

.msg p {    
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.classic-card, .stuffed-card, .origins-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}




@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #0033a0;
    }
    .home-title {
        font-size: 25px;
    }
    .classic-card, .stuffed-card, .origins-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .table, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    header{
        background-color: #ffd200;
    }
}