@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

header {
  background-color: rgba(29, 29, 31, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(18px);
  height: 40px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav-container {
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 28px;
  justify-self: center;
  padding: 0 10px;
}

#logo_link {
  display: block;
  line-height: 0;
}

.logo {
  display: block;
  width: 16px;
  height: 16px;
}

nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

nav a {
  color: rgb(209, 209, 209);
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  padding: 6px 4px;
  display: inline-block;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

#hero {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
    row-gap: 40px;
    justify-items: center;
    padding: 50px 0;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    max-height: 730px;
}

.hero-bar {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(29, 29, 31);
    z-index: 0;
}

.hero-container {
    border-radius: 20px;
    padding: 40px 40px;
    display: grid;
    justify-items: center;
    max-width: 800px;
    z-index: 1;
    height: 650px;
}

#about-me-container {
    grid-column: 2;
    background-color: rgb(0, 0, 0);
}

#projects-container {
    grid-column: 4;
    background-color: rgb(245, 245, 247);
}

.hero-msg {
    text-align: center;
}

.hero-box {
    width: 100%;
    text-align: center;
}

.hero-box img {
    width: 100%;
    border-radius: 20px;
}

#about-me-container .hero-box img {
    width: 80%;
    border-radius: 20px;
}

#about-me-msg h1 {
    color: rgb(245, 245, 247);
    font-weight: 600;
    font-size: 50px;
}

#about-me-msg h4 {
    color: rgb(245, 245, 247);
    font-weight: 300;
    padding-bottom: 15px;
    font-size: 18px;
}

#projects-msg h1 {
    color: rgb(29, 29, 31);
    font-weight: 600;
    font-size: 50px;
}

#projects-msg h4 {
    color: rgb(29, 29, 31);
    font-weight: 300;
    padding-bottom: 15px;
    font-size: 18px;
}

.learn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(48, 111, 220);
    font-size: 14px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}

.learn:hover {
    background-color: rgb(53, 117, 229);
}
.projects-hero {
    position: relative;
    justify-items: center;
    padding: 50px 0;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    max-height: 730px;
}

.projects-hero #projects-container {
    background-color: rgb(0, 0, 0);
    width: auto;
}

.projects-hero #projects-msg h1 {
    color: rgb(245, 245, 247);
}

.projects-hero #projects-msg h4 {
    color: rgb(245, 245, 247);
    margin-bottom: -15px;
}

#featured {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    row-gap: 40px;
    align-items: stretch;
    justify-items: center;
    text-align: center;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 30px;
}

.featured-container {
    border-radius: 20px;
    padding: 40px 40px;
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 40px;
    max-width: 500px;
    z-index: 1;
}

#final-page {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 40px;
    align-items: stretch;
    justify-items: center;
    text-align: center;
    padding: 50px 0;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 30px;
}

.final-container {
    background-color: rgb(245, 245, 247);
    border-radius: 20px;
    padding: 40px 40px;
    display: grid;
    justify-items: center;
    row-gap: 40px;
    max-width: 1200px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    align-items: center;
}

.final-container .featured-box img {
    width: 40%;
}

.final-container .featured-msg h1 {
    margin-top: -10px;
}

#project1-container { grid-column: 2; background-color: rgb(245, 245, 247); }
#project2-container { grid-column: 4; background-color: rgb(245, 245, 247); }
#project3-container { grid-column: 2; background-color: rgb(245, 245, 247); }
#project4-container { grid-column: 4; background-color: rgb(245, 245, 247); }
#project5-container { grid-column: 2; background-color: rgb(245, 245, 247); }
#project6-container { grid-column: 4; background-color: rgb(245, 245, 247); }
#project7-container { grid-column: 2; background-color: rgb(245, 245, 247); }
#project8-container { grid-column: 4; background-color: rgb(245, 245, 247); }
#project9-container { grid-column: 2; background-color: rgb(245, 245, 247); }
#project10-container { grid-column: 4; background-color: rgb(245, 245, 247); }

.featured-box {
    width: 100%;
}

.featured-box img {
    width: 100%;
    border-radius: 20px;
}

.featured-msg h1 {
    color: rgb(29, 29, 31);
    font-weight: 600;
    font-size: 30px;
}

.featured-msg h4 {
    color: rgb(29, 29, 31);
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 15px;
}

.small-learn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(48, 111, 220);
    font-size: 12px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}

.small-learn:hover {
    background-color: rgb(53, 117, 229);
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: rgb(100, 100, 100);
    background-color: rgb(245, 245, 247);
}

@media screen and (max-width: 820px) {
}
